<html ng-app="chat">
<head>
	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
	<script>
		angular.module('chat',[]);

		angular.module('chat').controller('homecontroller',function($scope){
			$scope.username = '';

			$scope.login = function(){
				var socket = io.connect('http://localhost:8080');
				socket.emit("adduser", $scope.username, function(available){					
					$scope.available = available;
					$scope.$apply();
				});
			};
		});
	</script>
</head>
<body ng-controller="homecontroller">	
	<form name="loginForm">
		<input type="text" ng-model="username" required/>
		
		The username : {{username}} is {{available?'available':'not available'}}	
		
		<button ng-click="login()" ng-show="loginForm.$valid">Login</button>
	</form>

</body>
</html>
