
html, body {
	height: 100%;
}

body {
	background-color: #ebebeb;
	padding-top: 40px;
}

#wrapper {
	min-height: 100%;
}
#main {
	overflow: auto;
	padding-bottom: 100px;
}
footer {
	font-size: 10pt;
}
footer a {
	color: #ff8800;
}

footer a:hover, footer a:active, footer a:hover, footer a:focus {
	color: #ffcc00;
}
.footer_bg {
	border-top: #cacaca solid 1px;
	background: url("../img/swirl_pattern.jpg");
}
#footer {
	padding-top: 20px;
	width: 100%;
    height: 60px;
    margin-top: -60px;
    position: relative;
    clear: both;
}
.margin-top {
	margin-top: 50px;
}
.navbar {

	background-color: #333;
	color: #ebebeb;
}
.navbar-default .navbar-nav>li>a {
	color: #ebebeb;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar button, .navbar button:active, .navbar button:focus, .navbar button:hover {
    border:none !important;
    outline:none !important;
    background-color: transparent;
}

/*HOME PAGE*/
.banner {
	padding-top: 50px;
	background: #8fc0b4 url("../img/banner.png") no-repeat center;
	height: 400px;
	border-bottom: #333 solid 1px;
}

.error {
	color: red;
}

.online {
	color:  #ff8800;

}
.chat_img {
	border-left: solid #ddd 1px;
	font-size: 9pt;
}

/*LOGIN PAGE*/
.extra-padding {
	padding-top: 40px;
}

.login-card {
	max-width: 370px;
	border: 1px solid #ccc;
	border-bottom: none;
	min-height: 300px;
	margin: 0 auto;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}

.bottom-well {
	max-width: 370px;
	min-height: 50px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	margin: 0 auto;
	border: solid 1px #ccc;
	background-color: #8fc0b4;
}
.help-block {
	font-style: italic;
}

/*CHAT STARTUP*/

.chatlist .well {
	margin-bottom: 0;
}
.chatlist .form-control{
	background-color: #6eaf9f;
	color: #fff;
	border-color: #55887C;

}

.chatlist .form-control:active, .chatlist .form-control:focus, .chatlist .form-control:hover {
	background-color: #8fc0b4;
	color: #fff;
	border-color: #6eaf9f;

}

.media .badge {
	background-color: #ff8800;
}