body {
	background-color: #ebebeb;
	padding-top: 40px;
	height: 100%;
	
}
footer {
	font-size: 10pt;
}
footer a {
	color: #ff8800;
}

footer a:hover, footer a:active, footer a:hover, footer a:focus {
	color: #ffcc00;
}
#wrapper {
	min-height: 100%;
	position: relative;
}
.footer_bg {
	border-top: #cacaca solid 1px;
	background: url("../img/swirl_pattern.jpg");
}
#footer {
	padding-top: 20px;
	width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.margin-top {
	margin-top: 50px;
}
.navbar {

	background-color: #333;
	color: #ebebeb;
}
.navbar-default .navbar-nav>li>a {
	color: #ebebeb;
}
.navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active, .navbar-default .navbar-nav>li>a:focus {
	color: #fff;
}

.navbar button, .navbar button:active, .navbar button:focus, .navbar button:hover {
    border:none !important;
    outline:none !important;
    background-color: transparent;
}

/*HOME PAGE*/
.banner {
	padding-top: 50px;
	background: #8fc0b4 url("../img/banner.png") no-repeat center;
	height: 400px;
	border-bottom: #333 solid 1px;
}