<div class="container extra-padding">
	<div class="row extra-padding">
		<div class="well login-card text-center">
			<img class="responsive" height="100" src="src/img/profile-user.png">
			<form class="form-group margin-top" name="loginForm">
				<div ng-hide="online">
					<h3>Join Us</h3>
					<input 		type="text"
								class="form-control"
								placeholder="Pick a user name" 
								autofocus="" 
								required="required" 
								pattern="[a-zA-Z0-9]+"
								ng-model="username" />
					<p>{{logininfo}}</p>
					<small class="help-block" ng-show="loginForm.$invalid"><i>*A valid username includes only letters and digits.</i></small>
					<button class="btn btn-default" ng-click="login()" ng-show="loginForm.$valid">Login</button>
				</div>				
				<div ng-show="online">
					<h3>Hi {{username}}!</h3>
					<button class="btn btn-default" ng-click="go('/chatrooms/')">Chatrooms</button>
					<button class="btn btn-default" ng-click="logout()">Log out</button>
				</div>
			</form>		
		</div>
		<div class="text-center bottom-well"></div>
		
		<br>
	</div>
</div>
