<div class="navbar-inner" ng-controller="LayoutController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" ng-click="navbarCollapsed = !navbarCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <button type="button" ng-click="go('/')" title="Home">
            <img src="src/img/logo_light.png" alt="LeChat Logo">
        </button>
    </div>
    <div class="collapse navbar-collapse" collapse="navbarCollapsed">
        <ul class="nav navbar-nav navbar-right">
            <li><a ng-href="#/login">Login</a></li>
        </ul> 
    </div>    
</div>