<h1>{{joinedRoom.name}}</h1>
<!--Topic and users need to be outside tab...unless we figure out the fix thingie-->
<h2>Topic:</h2>
	<p>{{joinedRoom.topic}}</p>
	<form name="topicForm" ng-show="isOp">
		<input type="text" ng-model="changedTopic" placeholder="Change the topic"></input>
		<button ng-click="changeTopic()">Change</button>
	</form name="topicForm">
<p>Le Ops - Be nice to them.. or else.</p>
<p ng-repeat="op in joinedRoom.ops" model="joinedRoom.ops">@{{op}}<p>

<div name="users">
	<h2>Users:</h2>
	<select size="15" ng-options="user as user for user in joinedRoom.users" ng-model="selectedUser"></select>
	<button ng-click="sendPrivateMessage()" ng-show="selectedUser">Private chat</button>
	<button ng-click="kick()" ng-show="selectedUser && isOp">Kick</button>
	<button ng-click="ban()" ng-show="selectedUser && isOp">Ban</button>
	<button ng-click="makeOp()" ng-show="selectedUser && isOp">Make OP</button>
	<button ng-click="deOp()" ng-show="selectedUser && isOp">deOP</button>
</div>

<div>
	<h3>PRIVATE MESSAGES</h3>
	<ul>
		<li ng-repeat="msg in roomPrivateMessages">[{{msg.time}}] - {{msg.from}} says: {{msg.msg}}</li>
	</ul>
</div>
<div>
	<h3>I'm chatting to:</h3>
	<ul>
		<li ng-repeat="user in usersUserIsChattingTo">{{user}}</li>
	</ul>
</div>
<div>
	<uib-tabset>
		<uib-tab heading="Room">
		<div ng-show="online">

		</div>

		<div ng-hide="online">You must be logged in to chat!</div>
		<div ng-model="chatArea">

		<ul>
			<li ng-repeat="msg in roomMessages[joinedRoom]">[{{msg.time}}] - {{msg.nick}} says: {{msg.message}}</li>
		</ul>

		</div>
		<!--MOVED TEMPORARILY, see blow-->
		<!--form name="sendMsgForm">
		<input type="text" ng-model="chatInput" placeholder="Write message here..." maxlength="200"></input>
		<button ng-click="sendMessage()">Send</button>
		</form name="sendMsgForm"-->

				</uib-tab>
		<uib-tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
		{{tab.content}}
		</uib-tab>
	</uib-tabset>
</div>
<br>
<!---Moved here temporarililily-->
<form name="sendMsgForm">
	<input type="text" ng-model="chatInput" placeholder="Write message here..." maxlength="200"></input>
	<button ng-click="sendMessage()">Send</button>
</form name="sendMsgForm">


<!--UNBANNING-->
<button ng-click="unban()" ng-show="isOp">Unban</button>
<form name="unbanForm" ng-show="isOp && unbanning" ng-model="unbanning">
	<label for="unbanuser">Who do you want to unban?</label>
	<input type="text" name="unbanuser" ng-model="unbanusername"></input>
	<button ng-click="confirmUnban()">Confirm</button>
</form name="unbanForm">
<br>
<button ng-click="leaveRoom()">Leave room</button>
