<div class="container extra-padding">
	<div class=row>
		<h2>Hi, {{username}}! </h2>
		<div class="col-xs-6 chatlist">
			<h3>Pick a room and start chatting</h3>
			<span ng-repeat="room in rooms">
				<button class="form-control chatlist"
						type="button"
						ng-click="isCollapsed = !isCollapsed"
						ng-model="selectedRoom">{{room.name}}</button>
				<div uib-collapse="isCollapsed"
							class="well">
					<div class="media">
						<div class="media-body">
							<p class="help-block">Topic: {{room.topic}}</p>
							<span class="badge help-block">online: {{room.userCount}}</span>
						</div>
						<div class="media-right">
							<button class="btn btn-default"
								ng-click="join(room)">Join</button>
						</div>
					</div>
					<div ng-show="joinError"
						class="error">
						<small class="help-block">There was a problem joining the room. Maybe you were banned, you troll.</small>
					</div>
				</div>
			</span>
		</div>

		<div class="col-xs-6">
			<h3>...or make your own!</h3>
			<form name="newRoomForm">
				<div class="input-group">
					<input type="text"
						class="form-control"
						placeholder="New chatroom name"
						autofocus="autofocus"
						required="required"
						pattern="[a-zA-Z0-9]+"
						ng-model="newRoomName" />
					<span class="input-group-btn">
						<button class="btn btn-default disabled" 
								ng-hide="newRoomForm.$valid">Create
						</button>
						<button type="button"
							class="btn btn-default"
							ng-click="createRoom()"
							ng-show="newRoomForm.$valid">Create
						</button>
					</span>
				</div>
				<small ng-show="newRoomForm.$invalid"
					class="help-block">*A valid chat room name includes only letters and digits.</small>
			</form>
		</div>
	</div>
</div>