<div class="banner">
	<h1 class="container">Welcome to Le Chat!</h1>
	<h2 class="container" style="color: red">STILL TONS TO DO</h2>
</div>
<div class="container">
	<!-- If no one is logged in -->
	<a href="#/login" ng-hide="online">Pick a user name and get started chatting!</a>

	<!-- If somenone is logged in -->
	<p ng-show="online">Hi {{username}}!</p>
	<a href ="#/chatrooms" ng-show="online">Go to chatrooms!</a>

	<h2>Who's online:</h2>
	<dl ng-repeat="room in rooms" class="dl-horizontal">
		<dt>{{room.name}}</dt>
		<dd ng-repeat="users in rooms.users">{{users}}</dd>
	</dl>
</div>